# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local data
data/raw/
data/processed/

# Python distribution
*.egg-info/
dist/
build/